[submodule "BadHersfeld/osm/SUMOActivityGen"]
	path = BadHersfeld/osm/SUMOActivityGen
	url = https://github.com/mlaechele/SUMOActivityGen.git
[submodule "BadHersfeld/prt"]
	path = BadHersfeld/prt
	url = https://github.com/TUMFTM/sumo-prt
[submodule "sumo-berlin"]
	path = sumo-berlin
	url = https://github.com/DLR-TS/sumo-berlin
[submodule "sumo_ingolstadt"]
	path = sumo_ingolstadt
	url = https://github.com/DLR-TS/sumo_ingolstadt
	branch = cutmap
